{% extends 'dashboard/tour/index.html' %}{% load static %}{% load django_bootstrap5 %}
{% block texte %}
{% endblock %}
{% block image %}
<style>
    img.img-thumbnail.avatar {
        max-width: 5em;
        max-height: 5em;
        object-fit: scale-down;
        object-position: center center;
    }
</style>

    <div class="container">
        <h3 class="fw-bolder text-center"> Update Compagnie</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>

        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {% bootstrap_form form %}
        {% bootstrap_button button_type="submit"  content="envoyer" %}
        </form>

    </div>

{% endblock %}
{% block content %}
{% endblock %}